<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>{{TITLE}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{META_DESCRIPTION}}" />

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="57x57" href="/elements/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/elements/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/elements/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/elements/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/elements/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/elements/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/elements/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/elements/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/elements/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/elements/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/elements/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/elements/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/elements/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/elements/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- WebHaste will insert chosen CSS framework/scripts here -->
    {{FRAMEWORK_ASSETS}}

    <!-- template-specific css -->
    <link href="/scripts/styles.css" rel="stylesheet" type="text/css" />

    <!-- template-specific js -->
    <script src="/scripts/scripts.js"></script>

</head>

<body>

    <nav class="navbar navbar-expand-lg fixed-top navbar-custom sticky-top bg-light bg-body-light shadow" id="navbar">
        <div class="container">
            <!-- LOGO -->
            <a class="navbar-brand logo" href="/">
                <img src="/assets/logo.png"  alt="Site logo in header" style="max-width: 200px; height: auto;" />
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                {{NAV:header}}
            </div>
        </div>
    </nav>

    <main>
        {{CONTENT}}
    </main>

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="mb-5">
                        <img src="/assets/logo-footer.png" alt="Site logo in footer" style="max-width: 200px; height: auto;">
                        <p class="my-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                            Aenean id blandit ex. Aenean ac ornare purus. Nulla eu pretium lorem, at scelerisque nunc. 
                            Nulla lacus sapien, laoreet gravida laoreet in, lobortis in eros.</p>
                        <ul class="list-inline footer-social-icon-content">
                            <li class="list-inline-item me-4">
                                <a href="#" class="footer-social-icon facebook">
                                    <i class="fa-brands fa-facebook-f"></i>
                                </a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="#" class="footer-social-icon twitter">
                                    <i class="fa-brands fa-x-twitter"></i>
                                </a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="#" class="footer-social-icon instagram">
                                    <i class="fa-brands fa-instagram"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-lg-7 offset-lg-1">
                    {{NAV:footer}}
                </div>
            </div>
        </div>
    </section>
    <div class="post-footer py-3">
        <div class="container text-center">
            <p class="mb-0"><a href="https://maps.app.goo.gl/KsLBLSWLRWeC32KR9" target="_blank">1060 W Addison St, Chicago, IL 60613</a> &bull; <a href="tel:+18008432827">800-843-2827</a>.</p>
            <p class="mb-0">&copy; {{YEAR}} {{SITE_NAME}}. All rights reserved.</p>
        </div>
    </div>

</body>

</html>